# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Macros
*.swp
*.swo
*~
*.pyc
.DS_Store

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
ios/.xcode.swo
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.ipa

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/

# Misc
*.bak
*.swp
*.swo
